{% if path('<current>') starts with '/fr' %}
	<div class="ca-blocks-extern-separator"></div>
	<div class="ca-blocks-title col-md-9 p-0">
		<h2>{{ uppTitle }}</h2>
	</div>
	<div class="ca-blocks-intern-separator"></div>
	<div class="ca-blocks-subtitle-black col-lg-9 col-md-12 p-0">
		<h3><span class="titre-color-head">{{ downpcoloredTitle }}</span> {{ downpTitle }}</h3>
	</div>
	<div class="ca-blocks-text-content">
		<p>{{ descpa|raw }}</p>
	</div>
{% elseif path('<current>') starts with '/en' %}
	<div class="ca-blocks-extern-separator"></div>
	<div class="ca-blocks-title col-md-9 p-0">
		<h2>{{ uppTitleen }}</h2>
	</div>
	<div class="ca-blocks-intern-separator"></div>
	<div class="ca-blocks-subtitle-black col-lg-9 col-md-12 p-0">
		<h3><span class="titre-color-head">{{ downpcoloredTitleen }}</span> {{ downpTitleen }}</h3>
	</div>
	<div class="ca-blocks-text-content">
		<p>{{ descpaen|raw }}</p>
	</div>
{% endif %}